/*------------------------------------- COMMON SETTINGS-----------------------------------*/
html,
body {
  min-height: 100vh;
  background: #fff;
  font-family: 'Alice', serif;
  overflow-x: hidden; }

h2 {
  margin-top: 0px; }

h2:after {
  display: block;
  height: 2px;
  background-color: #ff0000;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 15px; }

.clear {
  clear: both;
  height: 63px; }

h2 {
  color: #000; }

h4 {
  color: #403c3c; }

h3:after {
  display: none; }

/*------------------------------------- HEADER -------------------------------------------*/
#header .upper-header p {
  padding-top: 1%;
  font-size: 17px;
  margin: 0; }

#header .our_title {
  font-size: 14px;
  padding-top: 13px; }

#header .two-logos {
  padding-top: 15px; }

#header .affix {
  top: 0;
  width: 110%;
  left: -10%;
  padding-left: 35%;
  position: fixed;
  z-index: 9999; }

#header .affix + .container-fluid {
  padding-top: 100px;
  padding-left: 150px; }

#header #slideout {
  position: fixed;
  top: 80px;
  right: 0;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 10000; }

#header #slideout_inner {
  position: fixed;
  top: 80px;
  right: -600px;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  z-index: 10000; }

#header #slideout:hover {
  right: 250px;
  z-index: 10000; }

#header #slideout:hover #slideout_inner {
  right: -100px;
  z-index: 10000; }

#header .navbar-toggle {
  border-color: #fff !important;
  background-color: #ff0000 !important;
  float: left;
  margin-left: 5%; }

#header .nav > li > a,
#rules-pdf .nav > li > a {
  padding: 10px 10px; }

#header .nav-pills li a,
#rules-pdf .nav-pills li a {
  margin-top: 5px; }

#header .navbar-collapse,
#rules-pdf .navbar-collapse {
  float: left;
  background-color: #fff;
  margin-left: 90px;
  border-color: #fff; }

#header .nav-pills > li.active > a,
#header .nav-pills > li.active > a:focus,
#header .nav-pills > li.active > a:hover,
#rules-pdf .nav-pills > li.active > a,
#rules-pdf .nav-pills > li.active > a:focus,
#rules-pdf .nav-pills > li.active > a:hover {
  color: #fff;
  background-color: red;
  -webkit-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s; }

#header .nav-pills li a,
#rules-pdf .nav-pills li a {
  color: #000; }

#header .nav-pills li a:hover,
#rules-pdf .nav-pills li a:hover {
  background-color: #555555 !important;
  color: #fff;
  -webkit-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s; }

#header .navbar-toggle,
#rules-pdf .navbar-toggle {
  border-color: #fff !important;
  background-color: #ff0000 !important;
  float: left; }

#header .navbar-inverse,
#rules-pdf .navbar-inverse {
  float: left;
  border-color: #fff;
  background-color: #fff; }

/*------------------------------------- FOOTER -------------------------------------------*/
#main-footer {
  color: #efefef;
  background-color: #0d0d0d;
  padding: 12px 0 5px 0;
  border-top: 1px solid #000; }

/* -------------------------------- REGISTER FORM ----------------------------------------*/
#write-us #sendModal {
  display: none;
  top: 50px; }

#write-us .modal_trigger {
  margin: 25px -15px;
  width: 120px;
  display: block;
  z-index: 9999; }

#write-us .modal-header {
  background-color: #d43f3a; }

#write-us .btn_send {
  margin-left: 10px; }

#write-us .affix_send {
  bottom: -10px;
  width: 110%;
  left: -10%;
  padding-left: 35%;
  position: fixed;
  z-index: 9999; }

#write-us .affix_send + .container {
  padding-top: 100px;
  padding-left: 150px; }

/*---------------------------------- INDEX.HTML ----------------------------------------*/
#main-news .collage {
  overflow: hidden;
  padding: 0; }

#main-news .collage img {
  overflow: hidden;
  padding: 0;
  max-height: 500px;
  width: 1920px; }

#main-news .sl__news {
  width: 75%;
  margin: 20px auto; }

#main-news .sl__slide {
  position: relative; }

#main-news .sl__img {
  height: 400px;
  width: auto; }

#main-news .our_video > iframe {
  width: 400px;
  height: auto;
  border: none;
  overflow: hidden; }

#main-news .open_door {
  font-size: 17px;
  padding: 4%; }

#main-news .sl__slide p {
  font-size: 17px; }

#info-about-school .about-school > ul {
  list-style: none;
  font-size: 19px; }

#info-about-school .about-school > ul > li {
  font-size: 17px;
  margin-top: 1%; }

#info-about-school .about-school .fa {
  margin-right: 1%; }

#advantages .container-info {
  opacity: 0;
  -webkit-animation-duration: s;
  animation-duration: s; }

#advantages .container-info.animated {
  opacity: 1; }

#advantages .advantages__item {
  margin: 3px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.6))), url("../img/other_icons/background.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/other_icons/background.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/other_icons/background.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("../img/other_icons/background.jpg");
  color: #fff;
  border: 1px #ccc solid;
  padding: 10px;
  width: 100%;
  font-size: 26px; }

#coach-block .coach-block {
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

#coach-block .coach-block.animated {
  opacity: 1; }

#coach-block .coach {
  color: #ff0000; }

#ad-for-dance .allfordance {
  overflow: hidden;
  background: #f4f4f4;
  padding: 1%; }
  #ad-for-dance .allfordance a,
  #ad-for-dance .allfordance a:hover {
    text-decoration: none;
    color: #000; }

#ad-for-dance .allfordance img {
  width: 60px;
  height: auto; }

#ad-for-dance .allfordance p {
  font-size: 16px; }

#ad-for-dance .grand_prix {
  font-family: 'Mr Bedfort', cursive; }

#social-icons .social {
  position: fixed;
  top: 110px;
  width: 50px;
  height: 50px;
  z-index: 9999; }

#social-icons .social ul {
  padding: 0px;
  -webkit-transform: translate(-280px, 0);
  -ms-transform: translate(-280px, 0);
  transform: translate(-280px, 0); }

#social-icons .social ul li {
  display: block;
  margin: 5px;
  margin-left: 15px;
  background: rgba(199, 57, 57, 0.36);
  width: 290px;
  text-align: right;
  padding: 8px;
  border-radius: 0 30px 30px 0;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#social-icons .social ul li:hover {
  -webkit-transform: translate(65px, 0);
  -ms-transform: translate(65px, 0);
  transform: translate(65px, 0);
  background-color: #1400ff;
  background: rgba(255, 255, 255, 0.4); }

#social-icons .social ul li:hover a {
  color: #000; }

#social-icons .social ul li:hover i {
  color: #000;
  background: red;
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

#social-icons .social ul li i {
  margin-left: 10px;
  color: #000;
  background: red;
  padding: 10px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: #fff;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

#social-icons .fa {
  /* padding: 10px; */
  font-size: 20px !important;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 1px 1px; }

#social-icons .fa:hover {
  opacity: 0.7; }

#social-icons .fa-facebook {
  color: #3B5998; }

#social-icons .fa-instagram {
  color: #125688; }

/*------------------------------------- ABOUT_US.HTML -------------------------------------------*/
#coach-info .coach {
  color: #ff0000; }

#coach-info .coach_description {
  font-size: 18px; }

#coach-info .photos_IrenaBous,
#coach-info .photos-Vit_Kat {
  opacity: 0;
  -webkit-animation-duration: 2s;
  animation-duration: 2s; }

#coach-info .photos_IrenaBous.animated,
#coach-info .photos-Vit_Kat.animated {
  opacity: 1; }

/* --------------------------------------- NEWS.HTML ----------------------------------------*/
#news .news__photo img {
  width: 550px;
  height: auto;
  border-radius: 1%; }

#news .news__hidden,
#news .news-text-format {
  width: 100%;
  height: auto !important; }

#news .news__header {
  margin-top: 0; }

#news .btn-color {
  background-color: #ff0000 !important;
  color: #fff !important; }

#news .btn-default {
  background-color: #ddd; }

#news .btn-default:hover {
  color: white;
  background-color: red; }

#categories .panel-heading h4 {
  color: #fff; }

#categories .panel-heading {
  background-color: #ff0000 !important; }

#look-for-partner .search-partners li {
  list-style: none;
  max-width: 110%;
  margin: -10% !important;
  padding: 35px 15px 0px 15px; }

#look-for-partner .search-partners p {
  font-size: 19px; }

#look-for-partner .pre-scrollable {
  height: auto;
  max-height: 3000px !important;
  width: auto;
  overflow: auto;
  background-color: #ffeef2;
  word-break: normal !important;
  word-wrap: normal !important;
  overflow-y: scroll; }

/* --------------------------------------- RULES.HTML ----------------------------------------*/
#rules-pdf .nav-stacked p {
  font-size: 17px; }

#rules-pdf .download-pdf {
  width: 100%;
  margin-top: 25px; }

#rules-pdf img {
  margin-top: 25px;
  width: 40px;
  height: auto; }

#rules-pdf embed {
  height: 900px;
  width: 100%;
  border: 2px #323639 solid; }

/* --------------------------------------- CONTACTS.HTML ----------------------------------------*/
#maps-classes h3 {
  padding: 0 1%; }

#maps-classes .contact_head p {
  font-size: 20px; }

#maps-classes .school-photo img {
  height: 400px; }

#maps-classes .school-block__description,
#maps-classes .school-block__logo {
  text-align: center; }

#maps-classes #map {
  width: 550px;
  height: 500px;
  border-radius: 1%; }

#maps-classes #map2 {
  width: 550px;
  height: 500px;
  border-radius: 1%; }
